# OmniTerm .gitignore
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.pyc
.venv/
venv/
ENV/
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
Thumbs.db
Desktop.ini
.DS_Store
build/
dist/
dist_nuitka/
OUT/
output/
installer_output/
*.spec.bak
*.manifest
nuitka-crash-report.xml
*.ilk
*.pdb
*.obj
*.exp
*.lib
C:\Temp\nbuild/
*.log
errors.txt
test/
TECHNICAL_NOTES.md
